@use 'breakpoints';

.details {
  padding: 1rem;
}

.spacer {
  border-right: 1px solid #666;
  height: 1.2rem;
  margin: 0 1rem;
}

.metadata {
  align-items: center;
  display: flex;
}

.label {
  padding-right: 0.5rem;
}

.timeline {
  margin-top: 2rem;
}

.platform {
  display: flex;
}

.dropdown {
  margin-left: 0.5rem;
}

.delete {
  display: flex;
  align-items: center;
  transition: color 0.2s;

  & > *:first-child {
    margin: 0.2rem 0.5rem 0 0.25rem;
  }

  &:hover {
    cursor: pointer;
    color: #da1313;
  }
}

.details-empty {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.game-title {
  margin-bottom: 0.5rem;
}

.elide {
  display: none;
}

.spacer {
  margin: 0 0.75rem;
}

@include breakpoints.tablet {
  .game-title {
    margin-bottom: 0;
  }

  .elide {
    display: block;
  }
}
