@use 'colors';

.rating {
  display: flex;
}

.icon {
  color: colors.$glyph-light;
  cursor: pointer;
  margin-right: 0.1rem;
}

.unrated .icon {
  color: colors.$glyph-light;
}

.filled {
  color: #e5c412;
  fill: #e5c412;
}
