.rating {
  display: flex;
}

.icon {
  color: var(--light-glyph-color);
  cursor: pointer;
  margin-right: 0.1rem;
}

.unrated .icon {
  color: var(--light-glyph-color);
}

.filled {
  color: #e5c412;
  fill: #e5c412;
}
