.game-list-item {
  border-bottom: 1px solid #333;
  cursor: pointer;
  list-style-type: none;
  padding: 0.3rem;
  user-select: none;

  &.active {
    color: #ee025b;
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  &:hover:not(.active) {
    background-color: hsla(0, 0%, 100%, 0.05);
  }

  &:hover .selector {
    animation: nudge 250ms ease forwards;
  }
}

.horizontal {
  align-items: baseline;
  display: flex;

  & > :first-child {
    margin-right: 0.5rem;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.5rem;
}

.selector {
  display: flex;
  align-self: stretch;
  align-items: center;
  position: relative;
  right: 1rem;
}

.game-name {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0.5rem;
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0.6rem);
  }
}
