.title {
  align-items: center;
  gap: 0.5rem;
  color: #666;
  cursor: default;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  display: flex;
  padding: 0.2rem 0.5rem;
}

.chevron {
  transition: transform 200ms;
}

.chevron.expanded {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
}

.content.expanded {
  flex: 1 0 0;
  max-height: unset;
  overflow-y: auto;
}
