@use 'colors';

.title {
  align-items: center;
  gap: 0.5rem;
  color: colors.$fg;
  cursor: default;
  border-top: 1px solid colors.$glyph-light;
  border-bottom: 1px solid colors.$glyph-light;
  display: flex;
  padding: 0.2rem 1rem;
}

.chevron {
  transition: transform 200ms;
}

.chevron.expanded {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
}

.content.expanded {
  flex: 1 0 0;
  max-height: unset;
  overflow-y: auto;
}

.count {
  flex-grow: 1;
  text-align: right;
}
