@import '../mixins';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

:root {
  --background-color: #222;
  --foreground-color: #999;
  --glyph-color: black;
  --light-glyph-color: #666;
  --dark-glyph-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  min-width: 360px;
  overflow: hidden;

  scrollbar-color: #666 #1c1c1c;
  scrollbar-width: thin;

  &.dark {
    --background-color: #1f1f1f;
    --glyph-color: white;
    --light-glyph-color: #aaa;
    --dark-glyph-color: #666;
  }
}

a {
  color: #0cbd9c;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #666;
  color: #999;
  padding: 0.4rem 0.1rem;

  &:focus {
    border-bottom-color: #ee025b;
  }
}

input[type=button] {
  border: 2px solid #666;
  border-radius: 2px;
}

.page {
  margin: 1rem;
}

.main-pane {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  background-color: var(--background-color); /* for scrollbar */
}

.sidebar {
  border-right: 1px solid #666;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

@include mobile {
  body {
    display: block;
    position: relative;
    transition: transform 200ms;

    &.game-selected {
      transform: translateX(-100vw);
    }
  }

  .sidebar {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .main-pane {
    flex-grow: 0;
    height: 100vh;
    left: 100vw;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}
