@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

input {
    border: 0;
}

.months {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
