@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    min-width: 360px;
}

.app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100%;
}

.years {
    flex-grow: 1;
    width: 100%;
}

.months {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .months {
        grid-template-columns: repeat(1, 1fr);
    }
}
