@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");

:root {
  --background-color: #222;
  --foreground-color: #999;
  --glyph-color: black;
  --light-glyph-color: #666;
  --dark-glyph-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  min-width: 360px;
  overflow: hidden;

  &.dark {
    --background-color: #1f1f1f;
    --glyph-color: white;
    --light-glyph-color: #aaa;
    --dark-glyph-color: #666;
  }
}

input[type=text],
input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #666;
  color: #999;
  padding: .4rem .1rem;
}

.main-pane {
  flex-grow: 1;
}

.sidebar {
  border-right: 1px solid #666;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
