@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

input {
    border: 0;
    outline: 0;
}

.months {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 1000px;
}

@media only screen and (max-width: 800px) {
    .months {
        grid-template-columns: repeat(1, 1fr);
    }
}
