.footer {
    background: #444;
    color: white;
    display: flex;
    font-size: 12px;
    margin-top: 5em;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.footer span {
    flex-grow: 1;
}

.footer a {
    color: pink;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
}
