.footer {
    background: #444;
    color: white;
    display: flex;
    font-size: 12px;
    padding: 1em;
    text-align: center;
    width: 100%;

    span {
        flex-grow: 1;
    }

    a {
        color: pink;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
}
