.form-item {
  display: flex;

  .form-item-label {
    text-align: right;
    width: 6rem;
  }

  .form-item-field {
    flex-grow: 1;
    margin-left: .5rem;
  }

  &.invalid.touched .form-item-field {
    border-bottom-color: red;
  }
}
