.game-list-item {
  border-bottom: 1px solid #333;
  cursor: pointer;
  list-style-type: none;
  padding: .3rem;
  user-select: none;

  &.active {
    color: #ee025b;
  }

  .horizontal {
    align-items: center;
    display: flex;

    & > :first-child {
      margin-right: .5rem;
    }

    & > :last-child {
      margin-left: .5rem;
    }
  }

  .vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .game-name {
    flex-grow: 1;
  }
}
