.month {
    display: flex;
    padding: 1em;
}

.month-name {
    font-weight: bold;
    text-transform: uppercase;
}

.game-name {
    border-bottom: 2px solid pink;
    color: #666;
    flex-grow: 1;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: 0 1em;
    padding: .5em 0 .1em 0;
}

.month svg {
    stroke: #666;
}

.checked {
    fill: gold;
    stroke: black;
}
