.progress {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.5em;
    text-align: center;
}

.progress-label {
    height: 1.5em;
    margin-bottom: .3em;
}

.progress .bars {
    display: flex;
}

.progress .sliver {
    height: .2em;
    margin-right: .4em;
    transform: skewX(-33deg);
    visibility: hidden;
    width: calc(33% - .4em);
}

.progress.started .sliver.started {
    visibility: visible;
}

.progress.finished .sliver.finished {
    visibility: visible;
}

.progress.completed .sliver.completed {
    visibility: visible;
}

.progress .sliver.started {
    background: orange;
}

.progress .sliver.finished {
    background: silver;
}

.progress .sliver.completed {
    background: gold;
}
