.sign-up {
  .form {
    margin: 2rem 0;
  }

  .login {
    text-align: center;
  }

  a {
    margin-top: 1rem;
  }

  .form-item {
    display: flex;
    margin: .5rem 0;

    > :nth-child(1) {
      text-align: right;
      width: 5rem;
    }

    > :nth-child(2) {
      flex-grow: 1;
      margin-left: 1rem;
    }
  }
}
