.year {
  header {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 2em;
  }

  .year-number {
    color: teal;
    font-size: 3em;
    margin: 0.2em 0;
    text-align: center;
  }

  .year-link {
    color: teal;
    text-decoration: none;
  }
}
