@import '../../mixins';

.game-title {
  align-items: center;
  color: #ddd;
  display: flex;
}

/* TODO unused? */
.chevron {
  cursor: pointer;
  display: none;
  transform: scaleX(-1);
}

.text {
  margin-right: 1rem;
}

.icon {
  cursor: pointer;
}

@include mobile {
  .chevron {
    display: block;
    padding: 0 1rem;
  }
}
