@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: 1200px) {
    @content;
  }
}
