@import '../../mixins';

.main-pane {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  background-color: var(--background-color); /* for scrollbar */
}

.sidebar {
  border-right: 1px solid #666;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

@include mobile {
  .sidebar {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .main-pane {
    flex-grow: 0;
    height: 100vh;
    left: 100vw;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}
