@use 'colors';

.main-pane {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  background-color: colors.$bg; /* for scrollbar */
  flex-grow: 0;
  height: 100vh;
  left: 100vw;
  position: absolute;
  top: 0;
  width: 100vw;
}

.sidebar {
  border-right: 1px solid #666;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 20rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
