.icon {
  cursor: move;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.spinner {
  transform: scale(var(--ggs, 1));
}

.spinner,
.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.spinner::after,
.spinner::before {
  content: '';
  position: absolute;
  border-radius: 100px;
}

.spinner::before {
  animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  border: 3px solid transparent;
  border-top-color: currentColor;
}

.spinner::after {
  border: 3px solid;
  opacity: 0.2;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.handle {
  transform: translateY(12px);
}

.handle,
.handle::after,
.handle::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

.handle::after,
.handle::before {
  content: '';
  position: absolute;
  top: -6px;
}

.handle::after {
  top: 6px;
}
