@use 'colors';

.splash {
  align-items: center;
  background: colors.$bg;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(2);
  transition: opacity 400ms;
}

.fade-out {
  opacity: 0;
}
