@use 'colors';

.splash {
  align-items: center;
  background: colors.$bg;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms;
}

.icon {
  transform: scale(2);
}

.fade-out {
  opacity: 0;
}
