@import 'src/mixins';
@import 'src/forms';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

:root {
  --background-color: #222;
  --foreground-color: #999;
  --glyph-color: black;
  --light-glyph-color: #666;
  --dark-glyph-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  min-width: 360px;
  overflow: hidden;

  scrollbar-color: #666 #1c1c1c;
  scrollbar-width: thin;

  &.dark {
    --background-color: #1f1f1f;
    --glyph-color: white;
    --light-glyph-color: #aaa;
    --dark-glyph-color: #666;
  }
}

#app {
  display: flex;
  height: 100%;
}

a {
  color: #0cbd9c;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #666;
  box-shadow: none;
  color: #999;
  outline: none;
  padding: 0.4rem 0.1rem;

  &:focus {
    border-bottom-color: #ee025b;
  }
}

button,
input[type='button'],
input[type='submit'] {
  background: transparent;
  border: 2px solid #666;
  border-radius: 2px;
  color: #999;
  padding: 0.5rem 1rem;

  &:focus {
    border-color: #ee025b;
  }
}

@include mobile {
  body {
    display: block;
    position: relative;
    transition: transform 200ms;

    &.game-selected {
      transform: translateX(-100vw);
    }
  }
}
