.details {
  padding: 1rem;

  .spacer {
    border-right: 1px solid #666;
    height: 1rem;
    margin: 0 1.5rem;
  }

  .metadata {
    align-items: center;
    display: flex;
    margin-top: 1rem;
  }

  .timeline {
    margin-top: 2rem;
  }
}
