.game-list-item {
  border-bottom: 1px solid #333;
  cursor: pointer;
  list-style-type: none;
  padding: .3rem;

  &.active {
    color: #ee025b;
  }

  .horizontal {
    align-items: center;
    display: flex;
  }

  .vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .game-name {
    flex-grow: 1;
  }
}
