.months {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .months {
    grid-template-columns: repeat(1, 1fr);
  }
}

.month {
  display: flex;
  padding: 1em;

  .month-name {
    font-weight: bold;
    text-transform: uppercase;
    width: 2.2em;
  }

  .primary {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1em;

    .game-name {
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom: 2px solid pink;
      color: var(--dark-glyph-color);
      font-size: 16px;
      font-weight: bold;
      outline: 0;
      padding: 0.3em;
      transition: background-color 300ms;
    }

    .game-name:focus {
      animation: expand 200ms 1;
      background-color: var(--background-color);
      border: 2px solid pink;
      transform: scale(1.1);
    }
  }

  .icon {
    cursor: pointer;
    stroke: var(--light-glyph-color);
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &.disabled {
      animation: shake 100ms 3;
    }

    &.checked {
      animation: expand 200ms 1;
      fill: gold;
      stroke: var(--dark-glyph-color);
    }
  }
}

@keyframes expand {
  50% {
    transform: scale(1.3);
  }
}

@keyframes shake {
  25% {
    transform: translateX(-0.2em);
  }

  75% {
    transform: translateX(0.2em);
  }
}
