.months {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .months {
        grid-template-columns: repeat(1, 1fr);
    }
}

.month {
    display: flex;
    padding: 1em;
}

.month-name {
    font-weight: bold;
    text-transform: uppercase;
    width: 2.2em;
}

.game-name {
    border: 2px solid transparent;
    border-bottom: 2px solid pink;
    color: #333;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    margin: 0 1em;
    outline: 0;
    padding: .3em;
    width: 0;
}

.game-name:focus {
    animation: expand 200ms 1;
    border: 2px solid pink;
    transform: scale(1.1);
}

.month .icon {
    cursor: pointer;
    stroke: #666;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.month .icon.disabled {
    animation: shake 100ms 3;
}

.month .icon.checked {
    animation: expand 200ms 1;
    fill: gold;
    stroke: black;
}

@keyframes expand {
    50% {
        transform: scale(1.3);
    }
}

@keyframes shake {
    25% {
        transform: translateX(-.2em);
    }

    75% {
        transform: translateX(.2em);
    }
}
