.month {
    display: flex;
    padding: 1em;
}

.month-name {
    font-weight: bold;
    text-transform: uppercase;
}

.game-name {
    border-bottom: 2px solid pink;
    flex-grow: 1;
    margin: 0 1em;
}

.checked {
    fill: gold;
}
