.progress {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
  text-align: center;

  .bars {
    display: flex;
  }

  .sliver {
    height: 0.2em;
    margin-right: 0.4em;
    transform: skewX(-33deg);
    transition: width 150ms;
    width: 0%;

    &.started {
      background: #0cbd9c;
    }

    &.finished {
      background: #0cbd9c;
    }

    &.completed {
      background: #0cbd9c;
    }
  }

  .progress-label {
    height: 1.5em;
    margin-bottom: 0.3em;
  }

  &.started .sliver.started {
    width: calc(33% - 0.4em);
  }

  &.finished .sliver.finished {
    width: calc(33% - 0.4em);
  }

  &.completed .sliver.completed {
    width: calc(33% - 0.4em);
  }
}
