.progress {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.5em;
    text-align: center;

    .bars {
        display: flex;
    }

    .sliver {
        height: .2em;
        margin-right: .4em;
        transform: skewX(-33deg);
        visibility: hidden;
        width: calc(33% - .4em);

        &.started {
            background: orange;
        }

        &.finished {
            background: silver;
        }

        &.completed {
            background: gold;
        }
    }

    .progress-label {
        height: 1.5em;
        margin-bottom: .3em;
    }

    &.started .sliver.started {
        visibility: visible;
    }

    &.finished .sliver.finished {
        visibility: visible;
    }

    &.completed .sliver.completed {
        visibility: visible;
    }
}
