.sidebar {
  .tabs-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }

  .tab-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .tabs {
    border-top: 1px solid #333;
    display: flex;
  }

  .tab {
    border: 1px solid #666;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    cursor: pointer;
    flex-grow: 1;
    margin: .4rem;
    margin-top: 0;
    padding: .4rem;
    text-align: center;
  }
}
