.timeline {
  display: flex;
  flex-direction: column;
  max-width: 50rem;

  .line {
    border-right: 1px solid #666;
    height: 3rem;
    margin: 1rem 0;
    width: 50%;

    &:last-child {
      display: none;
    }
  }

  .event {
    border: 1px solid #666;
    padding: 1rem;
    text-align: center;
  }
}
