.game-list-item {
  background-position: 0% 0%;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--foreground-color) 33%,
    #ee025b 66%
  );
  background-size: 300% 100%;
  border-bottom: 1px solid #333;
  cursor: pointer;
  list-style-type: none;
  padding: 0.3rem;
  user-select: none;

  &:hover {
    animation: phase 250ms linear forwards;
  }

  &.active {
    color: #ee025b;
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  &:hover:not(.active) {
    background-color: hsla(0, 0%, 100%, 0.05);
  }

  &:hover .selector {
    animation: nudge 250ms ease forwards;
  }
}

.horizontal {
  align-items: baseline;
  display: flex;

  & > :first-child {
    display: none;
    height: 100%;
    margin-right: 0.5rem;
  }

  & > :last-child {
    margin-left: 0.5rem;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.selector {
  display: flex;
  align-self: stretch;
  align-items: center;
  position: relative;
  right: 1rem;
}

.game-name {
  color: transparent;
  flex-grow: 1;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0.6rem);
  }
}

@keyframes phase {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}
