.event {
  align-items: center;
  border: 1px dashed #333;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;

  &.past {
    border-color: #666;
    border-style: solid;

    &:last-of-type {
      border-color: #0cbd9c;
    }
  }
}
