name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out code
      - uses: actions/setup-node@v3
        name: Install NodeJS
        with:
          node-version: 16
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: '^7.26.1'
          run_install: true
      - name: Build source
        working-directory: ./packages/app
        run: pnpm run build
      - name: Populate firebase keys
        working-directory: ./packages/app
        run: >
          echo '{
            "__PROJECT_ID__": "${{ secrets.FIREBASE_PROJECT_ID }}",
            "__API_KEY__": "${{ secrets.FIREBASE_API_KEY }}"
          }' > firebase-config.json
      - name: Deploy to Firebase hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          entryPoint: ./packages/app
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GAMECAL_DBDD6 }}'
          channelId: live
          projectId: gamecal-dbdd6
